body {
  background-color: #001E42;
  font-family: Calibri,Arial,Helvetica,Tahoma,Segoe,"Segoe UI",Verdana,sans-serif;
}

.title {
  text-align: center;
}

#main {
  background-color: #EEEEEE;
  border: 2px solid #000000;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 800px;
  margin: 0 auto;
}

#content {
  float: left;
  width: 600px;
}

#logo {
  text-align: right;
  padding: 10px 0px 0px 0px;
  width: 800px;
  margin: 0 auto;
}

#ack {
  clear: left;
  font-size: 12;
  text-align: right;
  margin-bottom: -15px;
}

#settings td {
  text-align: left;
  height: 35px;
  overflow: hidden;
}

.icon {
  background-image: url("icons.png");
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
}

#navigation {
  float: left;
  margin: 0px 10px 10px 0px;
  padding: 0px 10px 10px 10px;
  border-right: 2px solid #001E42;
  width: 70px;
}

#navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navigation li {
  position: relative;
  margin: 0;
  padding: 0;
  height: 24px;
  padding-top: 8px;
  margin-top: 3px;
  text-align: left;
}

#navigation li a {
  text-decoration: none;
  color: #0000ff;
}

#navigation li a:hover {
  color: #ff0000;
}
