body {
  background-color: #001E42;
  font-family: Calibri,Arial,Helvetica,Tahoma,Segoe,"Segoe UI",Verdana,sans-serif;
}

#title,
#version {
  text-align: center;
}

#main {
  background-color: #EEEEEE;
  border: 2px solid #000000;
  padding: 20px;
}

#main,
#logo {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 800px;
  margin: 0 auto;
}

#logo {
  background-image:url('logo.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-top:115px;
}

#ack {
  font-size: 12;
  text-align: right;
  margin-bottom: -15px;
}

#settings td {
  text-align: left;
  height: 35px;
  overflow: hidden;
}
